body{/*is off*/
    padding:0;
    font-size:14px;
    margin:0px auto auto auto;
    color:#000;
    line-height: 1;
    font-family: "Helvetica", "Arial", sans-serif;

}

#body-principal{
    background:url(../images/bg.jpg) no-repeat #fff center top;
    padding:0;
    font-size:14px;
    margin:0px auto auto auto;
    color:#000;
    line-height: 1;
    font-family: "Helvetica", "Arial", sans-serif;
}

body a{
    padding-left: 5px;
}

a{
    color:#676262;
    display: inline;

}

#espacioSeparador30h{
    width: 100%;
    height: 30px;
}
#ver-minimalist
{
    border: 1px lightcoral dotted;
    border-collapse: collapse;
}
#ver-minimalist th
{
    border: 1px lightcoral dotted;
    font-size: 12px;
}
#ver-minimalist td
{
    border: 1px lightcoral dotted;
    font-size: 12px;
}
.divContenedoraTabla{
    width: 90%; margin-left:auto; margin-right: auto; margin-bottom: 20px;
}

.ico{
    height: 2em;
    width: 2em;
}

#clienteTable{
    border: #979595 ; /*lightcoral*/
    border-collapse: separate;
    border-spacing:  0px 5px;   
    empty-cells: show;
    word-spacing: .2em;

}
#clienteTable tr td{
    border: 1px #979595 double;
    font-size: 12px;
    padding-left: 0.4em;

}
#clienteTable #cabeceraClienteTable td h3{
    color: grey;
    font-size: 1.2em;
}
#alert{
    color:red;
    border: 1px black double;
}

.table_{
    /*border: 1px lightcoral dotted;*/
    border-collapse: collapse;

}
.table_ tr td{
    width: 200px;
    font-size: 14px; 
}
.botonera{
    color: #2a85a1; text-decoration: none; font: small-caps 1.4em serif;
}
.botonera:hover {
    color: #4BACC9; text-decoration: none; font: small-caps 1.45em serif;
}
.barraBotonera{
    width:1px; height:20px; background-color: #2a85a1;
}
.active{
    color: #1A5567; text-decoration: none; font: small-caps 1.45em serif;
}
.titulo{
    color: #2a85a1; text-decoration: none;
     font: small-caps 1.7em serif;
    font-size: 1.3em; font-style: normal;
}
.carga{
    font-weight: 700;font-size: 1.6em;
}
.cerraSesion{
    font-size: 1.3em; color: #1A5567

}
.cerraSesion:hover{
    font-size: 1.3em; color: #4BACC9
}