/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/07/2014, 13:42:49
    Author     : ivan
*/


.divContenedoraTabla{
    width: 90%; margin-left:auto; margin-right: auto; margin-bottom: 20px;
}


.table-generic {
}

.table-generic thead tr td{
        font-size: 18px;
}

.table-generic tbody tr td{
        font-size: 14px;
}

.table_{
    /*border: 1px lightcoral dotted;*/
    border-collapse: collapse;

}
.table_ tr td{
    width: 200px;
    font-size: 14px; 
}